@charset "utf-8";
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css'); */

/* 타이포 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: Lato-Regular;
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://yjcha069kr.github.io/jfs/assets/font/Lato-Thin.ttf);
}

.ls10px {
    /* 10/16px = 0.625rem */
    letter-spacing: 0.625rem; /* ls0.625rem */
}

/* 공통 */
.container {
    max-width: 980px;
}

/* 배경 이미지 */
#home .bgimg {
    /* /jfs 지우고 ../ 꼭 적기 */
    background: url(../assets/img/light.jpg) no-repeat 50% 50% / cover fixed;
}
#home.dark .bgimg {
    filter: brightness(40%);
    background-image: url(../assets/img/dark.jpg);
}
.parallax-bg {
    height: 400px;
    background: no-repeat 50% 50%/cover fixed;
}
#about .parallax-bg {
    background-image: url(../assets/img/parallax1.jpg);
}
#work .parallax-bg {
    background-image: url(../assets/img/parallax2.jpg);
}
#contact .parallax-bg {
    background-image: url(../assets/img/parallax3.jpg);
    background-position: 50% 80%;
}

/* 애니메이션 */
.circle_ani {
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}

/* 헤더 배경색 지정 */
#header {
    background: transparent;
    transition: 0.3s;
}
#header a {
    color: #eee;
    transition: 0.3s;
}
#header a:hover {
    color: #fff;
}
#header.active{
    background: #fff;
    /* 헤더 박스 그림자 */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#header.active a {
    color: #222;
    transition: 0.3s;
}
#header.active a:hover {
    color: #111;
}

/* 텍스트 그림자 */
#home.dark h2 {
    text-shadow: 1px 1px 2px lightgoldenrodyellow, 0 0 25px lightcoral, 0 0 35px lightgoldenrodyellow;
}

/* 내비게이션 버튼 클릭해서 섹션 이동시
섹션의 제목 영역이 헤더에 가려지는 현상 해결 */
#counterWrap {
    /* 카운터와 #work 섹션 사이의 떨어진(흰색) 부분 해결 */
    transform: translateY(56px);
}
#about::before, #work::before, #contact::before {
    display: block;
    content: '';
    /* ::before 높이을 헤더의 높이만큼 지정 */
    height: 56px;
}

/* 나의 사진 */
.myimg {
    width: 425px;
    height: 280px;
}

/* 진행률 바(progress-bar) */
.progress {
    height: 35px;
}
.progress:first-of-type .progress-bar {
    width: 60%;
}
.progress:last-of-type .progress-bar {
    width: 55%;
}

/* 카운터 */
.counter {
    opacity: 0;
    transition: opacity 0.5s;
}
.counter::after {
    content: '+';
}
.counter.active {
    opacity: 1;
}

/* 맵(지도) */
.map {
    height: 160px;
}

/* 폼(양식) */
input {
    width: 48%;
    height: 45px;
}
#name, #email {
    width: calc(50% - 8px);
}
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
#btnForm {
    width: 28%;
}