@charset "utf-8";

/* reset(초기화) */
* {box-sizing: border-box;}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {padding: 0; list-style: none;}


#sec {
    /* 뷰포트 크기로 높이 지정 */
    height: 100vh;
    background: url(../assets/img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg) no-repeat 50% 50%/cover;
}