@charset "utf-8";
/* 웹 폰트: 방법I - CDN */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 웹 폰트: 방법II - @font-face -> CDN❌ */
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    /* 내 컴퓨터에서는? */
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    src: url(https://yjcha069kr.github.io/jfs/assets/font/Lato-Thin.ttf);
}


/* reset(초기화) */
* {box-sizing: border-box;}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {padding: 0; list-style: none;}

/* typography(글자. 타이포그래피) */
body {
    font-family: "Lato-Regular", sans-serif;
}
h2 {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    /* 자간 */
    letter-spacing: 10px; /* ls10 */
    background: #2a2a2a;
    /* 좌우패딩을 상하패딩보다 많이 줌. 보통 8의배수 */
    padding: 8px 24px 10px 30px;
    text-transform: uppercase; /* tt ->전부 대문자로 바꿀 때 */
}


/* common(공통) */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
}

#home {
    /* 뷰포트 크기로 높이 지정 */
    height: 100vh;
    background: url(../assets/img/ernest-brillo-Qi8CvonsYnM-unsplash.jpg) no-repeat 50% 50%/cover;
}
