@charset "utf-8"; /* @ch */
@import url(common.css); /* @i */

/* typo */
body, ::placeholder, a {
    color: #ccc;
}
i, h1 {
    color: var(--white-color);
}

/* login page: login.html */
.login_container {
    position: relative;
    height: 100vh;
    background: url(./../assets/img/loginBg.jpg) no-repeat 50% 50%/cover;
}
.login_inner {
    position: absolute;
    width: 420px;
    height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login_inner h1 {
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
.login_group {
    display: flex;
    margin-bottom: 8px;
    gap: 2px;
}
.login_group input {
    /* width: calc(100% - 49px); */
    width: 100%;
    height: 50px;
    /* vertical-align: middle; */
    background: rgb(255, 255, 255, 0.2);
    padding-left: 16px;
}
.login_group label {
    /* display: inline-block; */
    /* vertical-align: middle; */
    width: 45px;
    height: 50px;
    line-height: 50px;
    background: rgb(255, 255, 255, 0.2);
    text-align: center;
    line-height: 50px;
}
.login_btn button {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 1.6rem;
    margin: 20px 0 30px;
    cursor: pointer;
}
.login_btn button:hover {
    color: var(--white-color);
    border: var(--white-color);
}
.links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
}

/* closed button */
.login_container .closed_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}