@charset "utf-8";
@import url(common.css);

#header::after {
    background: rgb(0, 0, 0, 0.5);
}

/* 메인 메뉴 호버시 하단의 바 */
#gnb .main>li:not(:nth-of-type(5)):hover>a::after {
    background: #fff;
}

.container::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/images/main/NaJBHY231NCNNthdR4tdUUJHpWmlX9oR_380.jpg) no-repeat -100px -60px/cover;
    filter: brightness(15%) blur(10px);
}

/* section(섹션) */
#section {
    color: #fff;
    padding: 70px 0 100px;
}

/* #section::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/main/NaJBHY231NCNNthdR4tdUUJHpWmlX9oR_380.jpg) no-repeat 0 -150px/cover;
    filter: brightness(10%) blur(10px);
} */
.ibox {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    display: inline-block;
    border-bottom: 1px solid #555;
    font-size: 1rem;
    font-weight: 400;
}

.more {
    text-align: right;
    margin-bottom: 16px;
}

.more a {
    color: #ccc;
}

.more i {
    margin-left: 8px;
    font-weight: 300;
    transform: scale(2.3, 2.3);
}

.link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgba(0, 0, 0, 0.5);
    margin: 50px 0;
    padding: 25px 0;
}

.link li {
    position: relative;
    width: 275px;
    text-align: center;
}

.link li:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    margin-left: 90px;
    background: rgba(255, 255, 255, 0.3);
}

.link li:first-of-type::after {
    margin-left: 40px;
}

.link .search {
    position: relative;
    display: inline-block;
    width: 70%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
}

.link .search::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 18px;
    height: 18px;
    background: url(../images/ico-search-white.png) no-repeat;
}

.link .search input::placeholder {
    font-size: 0.938rem;
    color: #ccc;
}

.link img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 8px;
}

.link span {
    vertical-align: middle;
}

.mouse {
    text-align: center;
}

.mouse span {
    display: inline-block;
    width: 16px;
    animation: mouse 2s infinite ease-in-out;
}

@keyframes mouse {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Box Office Card UI */
.box_office {
    display: grid;
    /* dg */
    grid-template-columns: repeat(4, 1fr);
    /* gtc */
    gap: 40px;
}

.box_office_card {
    position: relative;
    width: 245px;
}

/* 영화 순위 */
.rank {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
}

/* 스크린 타입 */
.screen_type {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
}

/* 연령 제한 */
.grade {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 28px;
}

/* 영화 소개글 */
.description {
    text-align: left !important;
}

/* 관람평 */
.score {
    position: absolute;
    width: calc(100% - 48px);
    text-align: center;
    bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 8px;
}

/* 관람평 점수 */
.score span {
    color: #59bec9;
    font-size: 1.5rem;
    margin-left: 16px;
}

/* 버튼 */
.btn {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 8px;
    margin-top: 8px;
}

/* 좋아요! 버튼 */
.like {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.like i {
    margin-right: 4px;
}

.like.active i {
    color: red;
}

/* 예매 버튼 */
.reservation_link {
    width: 100%;
    background: #037b94;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    /* line-height: 34px; */
}

/* y축 회전 */
.box_office_card .inner {
    position: relative;
    height: 352px;
    /* 원근감 */
    perspective: 1000px;
}

.box_office_card .inner:hover {
    /* 마우스 손가락 모양 */
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    padding: 24px;
    color: #fff;
    background: rgb(0, 0, 0, 0.8);
    /* 뒷면 숨기기 */
    backface-visibility: hidden;
}

/* 호버시 뒤집기 */
.inner:hover .front {
    transform: rotateY(180deg);
}

.inner:hover .back {
    transform: rotateY(360deg);
}