@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
@import url(reset.css);

/* header(헤더) */
#header {
    position: relative;
    background: #111;
    padding: 15px;
    border-bottom: rgba(255, 255, 255, 0.2);
}

#header .inner {
    max-width: 1100px;
    margin: 0 auto;
}

/* logo(로고) */
#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* top menu */
#header .top_link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between; */
}

#header .top_link a {
    font-size: 0.8125rem;
    color: #888;
    margin: 0 10px;
}

/* link icon */
#header .link_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

#header .link_icon a {
    display: inline-block;
    margin: 0 10px;
}

/* GNB(글로벌 내비게이션 바) */
#gnb {
    position: absolute;
    width: 100%;
    max-width: 900px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

/* 1 depth */
#gnb .main {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}

#gnb .main a {
    position: relative;
    font-size: 1.125em;
}

#gnb .main > li:nth-of-type(1) {
    margin-left: 30px;
}

#gnb .main > li:nth-of-type(4) {
    margin-left: 300px;
}

#gnb .main > li:hover .sub {
    display: flex;
}

/* 메인메뉴 호버 시 하단 바 */
#gnb .main > li:not(:nth-of-type(5)) > a:hover::after {
    position: absolute;
    bottom: -15px;
    transform: translateX(-100%);
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
}

/* 2 depth */
#gnb .sub {
    position: absolute;
    padding-top: 30px;
    transform: translateX(-22%);
    display: none;
    /* 혜택 영역 부족해서 자동 줄바꿈 해제 */
    text-wrap: nowrap;
}

#gnb.sub li {
    margin: 0 8px;
}

#gnb .sub a {
    font-size: 0.9375rem;
    margin-right: 16px;
}

#gnb .sub a:hover {
    text-decoration: underline;
}

/* section (섹션) */
#section {
    color: #fff;
    padding: 30px 0 100px 0;
}
.ibox {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
h2 {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    font-weight: 400;
}
.more {
    text-align: right;
    margin-bottom: 16px;
}
.more a {
    color: #ccc;
}
.more i {
    margin-left: 4px;
    transform: scale(2);
    font-weight: 200;
}
.link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgba(255, 255, 255, 0.1);
    margin: 50px 0;
    padding: 25px 0;
}
.link li {
    position: relative;
    width: 275px;
    margin-left: 40px;
    /* background: #000; */
}
.link li:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    margin-left: 90px;
    /* background: #fff; */
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.link li:first-of-type::after {
    margin-left: 40px;
}
.link .search {
    position: relative;
    display: inline-block;
    width: 80%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
}
.link .search::before {
    position: absolute;
    content: "";
    top: 4px;
    right: 0;
    width: 18px;
    height: 18px;
    background: url(../images/ico-search-white.png) no-repeat;
}
.link .search input ::placeholder {
    font-size: 0.9375rem;
    color: #ccc;
}
.link img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 8px;
}
.mouse {
    text-align: center;
}
.mouse span {
    display: inline-block;
    width: 16px;
    animation: mouse 2.5s infinite ease-in-out alternate;
}

@keyframes mouse {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
/* Box Office Card UI */
.box_office {
    display: grid; /* dg */
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.box_office_card {
    position: relative;
    width: 245px;
}

/* front(앞면) */
.rank {
    position: absolute;
    top: 0px;
    left: 14px;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
}

.screen_type {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
}

.grade {
    position: absolute;
    right: 8px;
    bottom: 12px;
    width: 28px;
}

/* back(뒷면) */
.score {
    position: absolute;
    width: calc(100% - 48px);
    text-align: center;
    bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 8px;
}

.score span {
    color: #59bec9;
    font-size: 1.5rem;
    margin-left: 16px;
}

/* 버튼 */
.btn {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.like {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100px;
}

.like i {
    margin-right: 4px;
}

.reservation_link {
    width: 100%;
    background: #037b94;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
}

/* y축 회전 */
.box_office_card .inner {
    position: relative;
    height: 352px;
    perspective: 1000px;
}

.box_office_card .inner:hover {
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    transform-style: preserve-3d;
    border-radius: 10px;
    overflow: hidden;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    padding: 24px;
    color: #fff;
    background: rgb(0, 0, 0, 0.75);
    /* 뒷면 숨기기 */
    backface-visibility: hidden;
}

/* 호버시 뒤집기 */
.box_office_card .inner:hover .front {
    transform: rotateY(180deg);
}

.box_office_card .inner:hover .back {
    transform: rotateY(360deg);
}

/* footer (푸터) */
#footer {background: #F8F8FA; font-size: 0.813rem; padding-bottom: 50px;}
        #footer a {color: #555;}
        .inbox {width: 1100px; margin: 0 auto;}
        /* 상단 영역 */
        .footer_top {display: flex; justify-content: space-between; padding: 30px 0;}
        .fnb {display: flex; gap: 8px;}
        .fnb a:hover {text-decoration: underline;}
        .btn_looking_theater {border: 1px solid #ccc; border-radius: 30px; padding: 4px 16px;}
        .btn_looking_theater img {width: 15px; height: 15px; margin-right: 4px;}
        /* 하단 영역 */
        .footer_bottom {display: flex; justify-content: space-between;}
        .info {line-height: 0.5;}
        .ci {width: 150px; height: 50px;}
        .sns a {display: inline-block; width: 30px; height: 30px;}
        .sns a:not(:last-of-type) {margin-right: 4px;}

        /* 극장 찾기 */
        .theater {
            position: absolute;
            left: 0;
            top: 2000;
            width: 100%;
            background: #181818;
            color: #fff; 
            height: calc(100vh - 200px); 
            display: none;
            padding: 20px;
        }
        .theater.active {display: block;}
        .tit {display: flex; justify-content: space-between;}
        .theater h2 {font-weight: normal;}
        .closed {display: inline-block; width: 36px; height: 36px; cursor: pointer;}