@charset "utf-8";
/* 폰트어썸 라이브러리 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

/* 웹 폰트 */
@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    font-weight: 300;
    font-display: swap;
}

/* 초기화 */
* {
    box-sizing: border-box;
}

body,
h1,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* https://sitero.co.kr/fontsize */
body {
    font: 0.9375rem/1.6 "NanumBarunGothic", sans-serif;
    background: #111;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input {
    background: transparent;
    border: none;
    /* input이 focus를 가질 경우 생기는 테두리 */
    outline: none;
    color: #fff;
}
::placeholder {
    color: #fff;
    font-size: 1rem;
}
address {
    font-style: normal;
}