@charset "utf-8";   /* @ch */
/* 위 내용은 css파일 항상 첫 줄에 입력한다. */

/* CSS 형식 */
/* 선택자 {
    속성: 속성값;
    속성: 속성값;
    속성: 속성값;
    ...
} */

body {
    /* box model 속성 */
    width: auto; /* 너비 */
    height: auto; /* 높이 */
    padding: 0; /* 박스의 안쪽 여백 */
    border: none; /* 테두리 */
    margin: 8px; /* 박스의 바깥 여백 */
}