/* footer */
#footer {
    background: #f2f2f2;
    padding: 20px 0;
}
.footer-inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0 50px; 
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px 20px;
    margin-bottom: 30px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd; 
}
.footer-banner img {
    width: 51px;
    height: 51px;
}
.item h4 {
    font-size: 16px;
    margin-bottom: 24px;
}
.item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;
}
.item ul li {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
}
.item ul li a {
    text-decoration: none;
    color: #333;
}
.footer-bottom {
    display: flex; 
    justify-content: space-between;
}
.footer-info {
    color: #333;
    font-size: 13px;
    line-height: 1.7; 
}
.footer-info a {
    color:#333
}
.footer-info h4 {
    color: #000;
    font-size: 16px;
    /* margin-bottom: 8px; */
}
.footer-info p {
    font-size: 14px;
    line-height: 20px;
}

/* SNS */
.footer-bottom .right a {
    margin: 5px;
}
.footer-bottom .right img {
    width: 25px; 
    height: 25px;
}