/* header */
.top_link {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: right;
    margin-right: 30px;
    padding: 8px;
}
.top_link a, .top_link button {
    font-size: 11px;
    margin-left: 20px;
    color: #666;
    border: none;
    background: none;
    cursor: pointer;
}

/* 222222222222222222222222222---------------------------------------???????????-> */
#gnb {
    width: 1100px;
    margin: 0 auto;
}
#gnb > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gnb .menu {
    display: flex;
    justify-content: space-evenly; 
    margin: 0 50px; 
}
#gnb .menu > li {
    position: relative; 
    padding: 15px 0;
}
#gnb .menu > li > a {
    font-size: 16px;
    font-weight: bold;
    display: block;
}
#gnb .main {
    position: absolute; 

    opacity: 0;
    visibility: hidden; 
    overflow: hidden; 
}
/* 2222222222222222222222222222 */

#gnb .logo img {
    width: 102px;
    margin: 0 40px;
}
#gnb ul {
    list-style: none;
    display: flex;
}
#gnb ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 0 26px; 
    display: block;
}
.my_page img {
    width: 31px;
    height: 30px;
    margin-left: 90px;
}

