.inner {
    max-width: 1100px;        
    margin: 0 auto;     
}
h1 {
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}
a {
    color: #333;
}
.quick {
    background: #F8F8F8;
    height: 208px;
    padding: 40px 0;
}
.quick .link {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.quick .link li {
    text-align: center;
}
.quick .link li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.quick .link li .name {
    font-size: 16px;
    margin-top: 10px; 
}

.special {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto; 
}
.special > div {
    width: 320px; 
    height: 140px; 
    position: relative; /* 글씨 위치의 기준점 */
    overflow: hidden;
    border-radius: 10px; 
    background-size: cover; 
    background-position: center; 
}
/* 이미지 경로 */
.special > div:nth-child(1) { 
    background-image: url('/imgs/20251211095753068.jpg');
}
.special > div:nth-child(2) {
    background-image: url('/imgs/20251126134943135.jpg');
}
.special > div:nth-child(3) { 
    background-image: url('/imgs/20251110093301362.jpg');
}

.special > div p {
    position: absolute; /* ✨ 필수: 부모 div를 기준으로 절대 위치 지정 */
    top: 25px; 
    left: 25px; 
    color: #222; 
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
}


.tabs button {
    height: 30px;
    width: 100px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.seat-info {
    width: 100%; /* ---------------------------------------------------------------------------->>>> */
    display: flex;
    gap: 20px; 
}
.seat-info .seat-image {
    border-radius: 10px;
}
.seat-info .info, text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.seat-card {
    position: relative;
    flex: 2; 
    top: 50%;
}

.seat-image {
    background-image: url('/imgs/section_travel_t1_01.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.seat-card .info {
    position: absolute;
    left: 20px;
    color: white;
}

.option {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.option-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 100%; 
}

.option-item .text {
    flex-grow: 1;
    padding-right: 10px;
}

.option-item .option-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.benefit-cards {
    display: flex;
    gap: 20px; 
}

.card {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.card .icon {
    width: 50px;
    height: 50px;
}

.rank-card {
    background: #FFDAB9; 
}

.point-card {
    background: #E6E6FA;
}