@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* header */
#header {
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #555;
}
ul, li {
    list-style: none;
}
.top_link {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: end;
    font-size: 13px;
    height: 40px;
}
.top_link button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
}
.top_link a, .top_link button {
    color: #666;
    margin-left: 15px;
    padding: 0 5px;
}
/* ---GNB--- */
.menu {
    max-width: 1100px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 60px;
}
.logo {
    margin-right: 40px;
}
.logo img {
    height: 30px; 
    vertical-align: middle;
}
.menu li {
    padding: 0;
}
.menu li a {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    padding: 18px; 
    display: block;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}
.menu li a:hover {
    color: #ff5000; 
    border-bottom: 3px solid #ff5000; 
}
.my_page {
    margin-left: auto; 
    cursor: pointer;
    padding-left: 15px; 
}
.my_page img {
    height: 20px; 
    vertical-align: middle;
}


/* section */


/* footer */
#footer {
    background: #f8f8f8;
    padding: 50px 0;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
    border-top: 1px solid #ddd;
}

.footer-inner {
    width: 1200px;
    margin: 0 auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px 20px;
    margin-bottom: 40px;
}

.item h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px;
}

.item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.item ul li a {
    text-decoration: none;
    color: #555;
}

.item ul li a:hover {
    text-decoration: underline;
}


.footer-info {
    font-size: 13px;
    line-height: 1.7;
    color: #666;
}