/* Box Office Card UI */
.box_office {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.box_office_card {
    position: relative;
    width: 245px;
}

/* 영화 순위 */
.rank {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
}

.poster img {
    width: 100% !important;
    height: 100% !important;
}

/* 스크린 타입 */
.screen_type {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
}

/* 연령 제한 */
.grade {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 28px;
}

/* 영화 소개글 */
.description {
    text-align: left !important;
    /* 문자열 내의 공백과 줄 바꿈을 유지하고, 필요하면 줄을 바꿉니다. */
    /* 데이터 파일(boxOffice.jsx)에서 \n(줄바꿈)을 적용하기 위해 설정! */
    white-space: pre-wrap;
}

/* 관람평 */
.score {
    position: absolute;
    width: calc(100% - 48px);
    text-align: center;
    bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 8px;
}

/* 관람평 점수 */
.score span {
    color: #59bec9;
    font-size: 1.5rem;
    margin-left: 16px;
}

/* 버튼 */
.btn {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 8px;
    margin-top: 8px;
}

/* 좋아요! 버튼 */
.like {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.like i {
    margin-right: 4px;
}

.like.active i {
    color: red;
}

/* 예매 버튼 */
.reservation_link {
    width: 100%;
    background: #037b94;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    /* line-height: 34px; */
}

/* y축 회전 */
.box_office_card .inner {
    position: relative;
    height: 352px;
    /* 원근감 */
    perspective: 1000px;
}

.box_office_card .inner:hover {
    /* 마우스 손가락 모양 */
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    padding: 24px;
    color: #fff;
    background: rgb(0, 0, 0, 0.8);
    /* 뒷면 숨기기 */
    backface-visibility: hidden;
}

/* 호버시 뒤집기 */
.box_office_card .inner:hover .front {
    transform: rotateY(180deg);
}

.box_office_card .inner:hover .back {
    transform: rotateY(360deg);
}