/* footer(푸터) */
#footer {
    position: relative;
    background: #f8f8fa;
    font-size: 0.813rem;
    padding-bottom: 50px;
}
#footer a {
    color: #555;
}
.inbox {
    width: 1100px;
    margin: 0 auto;
}
/* 상단 영역 */
.footer_top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 30px 0;
}
.fnb {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 8px;
}
.fnb a:hover {
    text-decoration: underline;
}
.btn_looking_theater {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 4px 16px;
}
.btn_looking_theater img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
/* 하단 영역 */
.footer_bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}
.info {
    line-height: 0.5;
}
.ci {
    width: 150px;
    height: 50px;
}
.sns a {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.sns a:not(:last-of-type) {
    margin-right: 4px;
}

/* 극장 찾기 */
.theater {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 200px;
    width: 100%;
    height: calc(100vh - 220px);
    color: #fff;
    display: none;
    background: #333;
    padding: 20px;
}
.theater.active {
    display: block;
}
.tit {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
.theater h2 {
    font-weight: normal;
    font-size: 1.375rem;
    border: none;
}
.closed {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}