.container::before {
    content: '';
    /* z-index: 1; */
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("/images/main/NaJBHY231NCNNthdR4tdUUJHpWmlX9oR_380.jpg") no-repeat -100px -60px/cover;
    filter: brightness(15%) blur(10px);
}

/* section(섹션) */
#home {
    color: #fff;
    padding: 70px 0 100px;
    text-align: center;
}

#home h2 {
    display: inline-block;
    border-bottom: 1px solid #555;
    font-size: 1rem;
    font-weight: 400;
}

.more {
    text-align: right;
    margin-bottom: 16px;
}

.more a {
    color: #ccc;
}

.more i {
    margin-left: 8px;
    font-weight: 300;
    transform: scale(2.3, 2.3);
}

.link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgba(0, 0, 0, 0.5);
    margin: 50px 0;
    padding: 25px 0;
}

.link li {
    position: relative;
    width: 275px;
    text-align: center;
}

.link li:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    margin-left: 90px;
    background: rgba(255, 255, 255, 0.3);
}

.link li:first-of-type::after {
    margin-left: 40px;
}

.link .search {
    position: relative;
    display: inline-block;
    width: 70%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
}

.link .search::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 18px;
    height: 18px;
    background: url("/images/ico-search-white.png") no-repeat;
}

.link .search input::placeholder {
    font-size: 0.938rem;
    color: #ccc;
}

.link img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 8px;
}

.link span {
    vertical-align: middle;
}

.mouse {
    text-align: center;
}

.mouse span {
    display: inline-block;
    width: 16px;
    animation: mouse 2s infinite ease-in-out;
}

@keyframes mouse {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}