/* breadcrumb */
.page_util {
    height: 42px;
    line-height: 42px;
    background: #F8F8FA;
}

.page_util a,
i {
    color: #777;
    font-size: 0.938rem;
    vertical-align: middle;
}

.page_util i {
    font-size: 0.7rem;
    color: #999;
}

.page_util a::before {
    content: '〉';
    padding: 0 8px;
}

/* 섹션 */
#specialTheater {
    background: #fff;
    color: #fff;
    padding-bottom: 150px;
}

#specialTheater h2 {
    padding: 50px 0;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    color: #222;
}

#specialTheater img {
    width: auto;
    height: 30px;
    object-fit: contain;
}

.special {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.special:nth-of-type(2) {
    margin: 100px 0;
}

.special div,
.special h3 {
    min-height: 260px;
    border-radius: 12px;
    background: rgb(6, 149, 125);
}

/* 제목 배경색 */
.special:nth-of-type(1) h3 {
    background: #000;
}

.special:nth-of-type(2) h3 {
    background: #8e6916;
}

.special:nth-of-type(3) h3 {
    background: #390081;
}

/* 그리드 아이템 박스 공통 */
.special h3 {
    padding: 30px;
}

.special div {
    padding: 30px;
    background: no-repeat 50% 50%/cover;
}

/* 배경 이미지 */
.special:nth-of-type(1) div:nth-of-type(4) {
    background-image: url('/images/specialtheater/bg_LED.png');
}

.special:nth-of-type(1) div:nth-of-type(5) {
    background-image: url('/images/specialtheater/bg_dolby_atmos.png');
}

.special:nth-of-type(2) div:nth-of-type(3) {
    background-image: url('/images/specialtheater/bg_boutique.png');
}

.special:nth-of-type(3) div:nth-of-type(1) {
    background-image: url('/images/specialtheater/bg_recliner.png');
}

.special:nth-of-type(3) div:nth-of-type(2) {
    background-image: url('/images/specialtheater/bg_comfort.png');
}

/* 그리드 아이템 크기 */
.special:nth-of-type(1) div:nth-of-type(1) {
    grid-column: 2 / span 2;
    background-image: url('/images/specialtheater/bg_dolbycinema.png');
}

.special:nth-of-type(1) div:nth-of-type(2) {
    grid-row-start: 2;
    grid-column: 1 / span 2;
    background-image: url('/images/specialtheater/bg_dolbyvision.png');
}

.special:nth-of-type(1) div:nth-of-type(3) {
    grid-column-start: 3;
    grid-row: 2 / span 2;
    background: #333 url('/images/specialtheater/bg_MX4D.png');
}

.special:nth-of-type(2) div:nth-of-type(1) {
    grid-column: 2 / span 2;
    background-image: url('/images/specialtheater/bg_boutique_private.png');
}

.special:nth-of-type(2) div:nth-of-type(2) {
    grid-column: 1 / span 2;
    background-image: url('/images/specialtheater/bg_suite.png');
}

.tothetop {
    position: fixed;
    top: calc(90% - 200px);
    left: calc(50% + 600px);
    border-radius: 50%;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.tothetop.active {
    opacity: 1;
    visibility: visible;
}

#specialTheater .tothetop img {
    width: 48px;
    height: 48px;
}