/* ==================== 웹폰트 정의 ==================== */
@font-face {
    font-family: "FlightSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "FlightSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-display: swap;
}
/* ==================== 기본 스타일 ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "FlightSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* ============================================================================= */
/* ======================== 공통  ======================== */
.container { 
    max-width: 1400px;
    margin: 0 auto;
}
.section {
    padding-top: 50px;
    padding-bottom: 80px;
}
.section-header {
    font-size: 22px;
    margin-bottom: 20px;
}


/* ======================== 헤더 ======================== */
.header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky; /* 스크롤 시 상단 고정 */
    top: 0;
    z-index: 999;
}
/* 메인 네비(GNB) */
.gnb {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
/* 로고 */
.gnb img {
    height: 60px;
    width: auto; 
    vertical-align: middle;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 130px;
    padding: 0;
    margin: 0;
}
.menu > li {
    position: relative;
}
.menu > li > a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    height: 40px;        
    display: flex;
    align-items: center;    
}
.menu > li > a:hover {
    color: #ff5500; 
}
.menu > li.mainmenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.submenu {
    display: block;           
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;         
    visibility: hidden;       
    opacity: 0;               
    pointer-events: none;     
    transition: opacity 0.3s; 
}
.submenu li {
    list-style: none;
}
.submenu li a {
    display: block;
    padding: 13px 20px;        
    color: #555;
    font-weight: bold;
    white-space: nowrap;   
    text-decoration: none;   
}
.submenu li a:hover {
    color: #ff5000;
}



/* ======================== 섹션1 ======================== */
.search-filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
    gap: 10px;
    
}
.filter-box {
    position: relative; 
    flex-grow: 1; 
    max-width: 280px;
    margin-right: 20px;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}


.filter-box:hover {
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.filter-box:hover .value-display {
    color: #ff5000; 
}
.filter-box label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.filter-box .value-display {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    white-space: nowrap; 
}


/* 달력 */
.date-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;       
    cursor: pointer; 
}
.option-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.option-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.option-list li:hover {
    background-color: #ff5000;
    color: #fff;
}
.detail-popup {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 300px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.filter-box.active .detail-popup {
    display: block; 
}
.search-button {
    padding: 20px 35px;
    background-color: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px; 
}
.search-button:hover {
    background: #ff7333;
}


/* ======================== 섹션2 ======================== */
.event .section-header {
    display: flex;
    justify-content: space-between; 
    align-items: baseline; /* 배너 기준 */
}
.event .section-header a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.event .section-header a:hover {
    text-decoration: underline; 
}

.event-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1400px;
    height: 380px;
    margin: 0 auto;
    border-radius: 15px;
}
.event-banner .slides {
    display: flex;
    width: 500%; /* 4장 + 복제 */
    height: 100%;
    animation: slide 20s infinite ease-in-out;
}
.event-banner .slides .slide {
    width: 20%;
    position: relative;
}
.event-banner .slides .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.slide-text {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px; 
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.slide-text h3 {
    margin: 5px 0;
    font-size: 30px;
    line-height: 1.4;
}
.slide-text p {
    margin: 0;
    font-size: 17px;
    line-height: 2.4;
}

/* (배너)슬라이드 애니메이션 */
@keyframes slide {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }
    25%  { transform: translateX(-20%); }
    45%  { transform: translateX(-20%); }
    50%  { transform: translateX(-40%); }
    70%  { transform: translateX(-40%); }
    75%  { transform: translateX(-60%); }
    95%  { transform: translateX(-60%); }
    100% { transform: translateX(-80%); }
}



/* ======================== 섹션3 ======================== */
.car-items {
    display: grid;
    grid-template-columns: repeat(3, 382px); /* 382px짜리 카드 3개 */
    justify-content: center;
    gap: 50px; 
}
.car-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.car-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.card-image {
    width: 100%;
    height: 286px; 
    background-size: cover;
    background-position: center;
}
.card-content {
    padding: 30px 21px;
    background-color: #fff;
    flex: 0 0 auto; /* 이미지 아래로 위치 고정 */
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 6px;
    color: #555;
}
.card-content p {
    font-size: 16px;
    font-weight: bold;
    color: #ff5000;
}
.car-items .car-card:nth-of-type(1) .card-image {
    background-image: url(/rentcar/assets/01-1.jpg);
}
.car-items .car-card:nth-of-type(2) .card-image {
    background-image: url(/rentcar/assets/02-1.jpg);
}
.car-items .car-card:nth-of-type(3) .card-image {
    background-image: url(/rentcar/assets/03-1.jpg);
}
.car-items .car-card:nth-of-type(4) .card-image {
    background-image: url(/rentcar/assets/06-1.jpg);
}
.car-items .car-card:nth-of-type(5) .card-image {
    background-image: url(/rentcar/assets/05-1.jpg);
}
.car-items .car-card:nth-of-type(6) .card-image {
    background-image: url(/rentcar/assets/08-1.jpg);
}

.hidden {
    display: none;
}
.more-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.more-btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 35px;
    background: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.more-btn:hover {
    background: #ff7333;
}



/* ======================== 섹션4 ======================== */
.section-4 .service {
    position: relative; /* 장식 이미지 배치용 */
}

.section-4 .service-items {
    display: flex;
    align-items: center; 
    gap: 30px;
    padding: 20px 0; 
    border-bottom: 1px solid #ddd;
    width: 800px;
}

.section-4 .service-items img {
    height: 55px;
    width: 55px;
    object-fit: contain;
    flex-shrink: 0;
}
.section-4 .service-text a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}
.section-4 .service-text h3 {
    margin: 8px 0;
    font-size: 22px;
    color: #333;
}
.section-4 .service-text h3:hover {
    color:#ff5000
}
.section-4 .service-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}
.section-4 .service-deco {
    position: absolute;
    right: 0;   
    top: 50%;
    transform: translateY(-35%);
    width: 600px;
    opacity: 0.8;
}



/* ======================== 푸터 ======================== */
.footer {
    background-color: #ddd; 
    color: #333; 
    padding: 30px; 
    line-height: 1.5;
}
.company-info p {
    font-size: 13px;
    margin: 25px 0;
}
.company-notice p {
    font-size: 16px;
    color: #333;
}
.company-notice a {
    text-decoration: none;
}